.root
{
    -fx-background-color: #ffffff;
}
.label
{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #f16823;
}
#formTitle
{
    -fx-font-size:32 px;
    -fx-font-family: "Arial Black";
    -fx-fill: #f16823;
}
.button
{
    -fx-background-color:
            linear-gradient(#f16823, #f16823);
}
.button:hover
{
    -fx-background-color:
            linear-gradient(#ff8120, #ff8120);
}
.button:pressed
{
    -fx-background-color:
            linear-gradient(#bda320, #d87700,#bda320);
    =fx-text-fill: #70ecff;
}
#notification
{
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}